body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 50px;

}
h2{
    font-size:33px ;
    color: #34495E;
}


.highlight{
    font-size: 53px;
    color: purple;
}
.gray-highlight{
    font-size:15px ;
    color: #34495E;
}


.half-width{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;

}
.topper{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(salmon,lightsalmon);
    padding: 8px 10px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}
.other{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 35px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;

}
.expp{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,lightsalmon,salmon);
    border-image-slice:1;
}
#per{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,lightsalmon,salmon);
    border-image-slice:1px;
}
footer p{
    text-align: center;
    font-size: 12px;
}